In [30]:
import pandas as pd

## The thrid database should look like this
testing_data_fail = {'unique_id_column': [1,4],
         'column_a': ['A', 'B']}
testing_data_fail_df = pd.DataFrame(testing_data_fail)

## The thrid database should look like this
testing_data = {'unique_id_column': [1,2],
         'column_a': ['A', 'B']}
testing_df = pd.DataFrame(testing_data)

# Sample data for df1
data1 = {'unique_id_column': [1, 2, 3, 4, 5],
         'column_a': ['A', 'B', 'C', 'D', 'E']}
df1 = pd.DataFrame(data1)

# Sample data for df2
data2 = {'unique_id_column': [3, 4, 5, 6, 7],
         'column_b': ['X', 'Y', 'Z', 'P', 'Q']}
df2 = pd.DataFrame(data2)


testing_df

   unique_id_column column_a
0                 1        A
1                 2        B

In [31]:
testing_data_fail_df

   unique_id_column column_a
0                 1        A
1                 4        B

In [32]:
df1

   unique_id_column column_a
0                 1        A
1                 2        B
2                 3        C
3                 4        D
4                 5        E

In [33]:
df2

   unique_id_column column_b
0                 3        X
1                 4        Y
2                 5        Z
3                 6        P
4                 7        Q

In [34]:

# Find items missing in df2 but present in df1
merged_df2 = df1.merge(df2, on='unique_id_column', how='right', indicator=True)
missing_data_df2 = merged_df2[merged_df2['_merge'] == 'right_only']
missing_data_df2

   unique_id_column column_a column_b      _merge
3                 6      NaN        P  right_only
4                 7      NaN        Q  right_only

In [53]:
# Find items missing in df1 but present in df2
merged_df1 = df1.merge(df2, on='unique_id_column', how='left', indicator=True)
missing_data_df1 = merged_df1[merged_df1['_merge'] == 'left_only']
missing_data_df1= missing_data_df1.drop(['column_b', '_merge'], axis=1)
missing_data_df1

   unique_id_column column_a
0                 1        A
1                 2        B

In [59]:
def create_missing_df(new_df:'str',gold_df:'str',column_id:'str' ):
    new_df = df1
    gold_df = df2
    merged_df1 = df1.merge(df2, on='unique_id_column', how='left', indicator=True)
    missing_data_df1 = merged_df1[merged_df1['_merge'] == 'left_only']
    #missing_data_df1= missing_data_df1.drop(['column_b', '_merge'], axis=1)
    return missing_data_df1

create_missing_df(df1, df2,'unique_id_column')

   unique_id_column column_a column_b     _merge
0                 1        A      NaN  left_only
1                 2        B      NaN  left_only

In [61]:
import pandas as pd

def create_missing_df(new_df, gold_df, column_id):
    # Merge the two DataFrames on the specified column using a left join
    merged_df = pd.merge(new_df, gold_df, on=column_id, how='left', indicator=True)
    
    # Filter for rows that are only in 'new_df'
    missing_data_df = merged_df[merged_df['_merge'] == 'left_only']
    
    # Drop the '_merge' column if you don't need it
    missing_data_df = missing_data_df.drop('_merge', axis=1)
    
    return missing_data_df

# Example usage:
# Assuming you have 'df1' and 'df2' DataFrames with a common column 'unique_id_column'
# and you want to find missing items from 'df1' that are not in 'df2'
missing_items_df = create_missing_df(df1, df2, 'unique_id_column')
missing_items_df

   unique_id_column column_a column_b
0                 1        A      NaN
1                 2        B      NaN

In [63]:
import pandas as pd

def create_missing_df(new_df, gold_df, column_id):
    # Merge the two DataFrames on the specified column using a left join
    merged_df = pd.merge(new_df, gold_df, on=column_id, how='left', indicator=True)
    
    # Filter for rows that are only in 'new_df'
    missing_data_df = merged_df[merged_df['_merge'] == 'left_only']
    
    # Drop the '_merge' column if you don't need it
    missing_data_df = missing_data_df.drop('_merge', axis=1)
    
    # Select only the columns from 'new_df'
    missing_data_df = missing_data_df[new_df.columns]
    
    return missing_data_df

# Example usage:
# Assuming you have 'df1' and 'df2' DataFrames with a common column 'unique_id_column'
# and you want to find missing items from 'df1' that are not in 'df2'
missing_items_df = create_missing_df(df1, df2, 'unique_id_column')
missing_items_df

   unique_id_column column_a
0                 1        A
1                 2        B

In [35]:




# Concatenate missing_data_df1 and missing_data_df2 to create df3
df3 = pd.concat([missing_data_df1, missing_data_df2])

print("DataFrame df1:")
print(df1)

print("\nDataFrame df2:")
print(df2)

print("\nDataFrame df3 (Items missing in one but present in the other):")
print(df3)

DataFrame df1:
   unique_id_column column_a
0                 1        A
1                 2        B
2                 3        C
3                 4        D
4                 5        E

DataFrame df2:
   unique_id_column column_b
0                 3        X
1                 4        Y
2                 5        Z
3                 6        P
4                 7        Q

DataFrame df3 (Items missing in one but present in the other):
   unique_id_column column_a column_b      _merge
0                 1        A      NaN   left_only
1                 2        B      NaN   left_only
3                 6      NaN        P  right_only
4                 7      NaN        Q  right_only

In [37]:
missing_data_df1

   unique_id_column column_a
0                 1        A
1                 2        B

In [38]:
testing_df

   unique_id_column column_a
0                 1        A
1                 2        B

In [50]:

testing_pass = testing_df.equals(missing_data_df1)
print(testing_pass)
testing_fail = testing_data_fail_df.equals(missing_data_df1)
print(testing_fail)

if testing_pass == True and testing_fail == False: 
    print("Both testing elements have passed to include failing and passing")
else: 
    print("Oh no this doesnt work")

True
False
Both testing elements have passed to include failing and passing